<!doctype html>
<html lang="zh-tw">

<head>
    <title>訂餐系統</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/static/vendor/linearicons/style.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/admin.css?{{ .staticFreshFlag}}">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">

    <!-- ICONS -->
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

    <!-- js -->
    <script src="/static/vendor/axios.min.js"></script>
    <script src="/static/vendor/vue.js"></script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- dataTables -->
    <link rel="stylesheet" href="/static/vendor/dataTables/datatables.css">
    <link rel="stylesheet" href="/static/vendor/dataTables/responsive/responsive.dataTables.min.css">
    <script src="/static/vendor/dataTables/datatables.js"></script>
    <script src="/static/vendor/dataTables/responsive/dataTables.responsive.min.js"></script>
    <script src="/static/js/dataTable-init.js?{{ .staticFreshFlag}}"></script>

    <!-- chartJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- select2 JS -->
    <script src="/static/vendor/select2/js/select2.min.js"></script>
    <link rel="stylesheet" href="/static/vendor/select2/css/select2.min.css">

    <!-- lightbox -->
    <script src="/static/vendor/lightbox/js/lightbox.min.js"></script>
    <link rel="stylesheet" href="/static/vendor/lightbox/css/lightbox.min.css">
    <script src="/static/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="/static/vendor/sortable/Sortable.min.js"></script>

</head>

<body>

<div id="wrapper">
    <div id="menu">
        {{ block "layout/header" . }}{{end}}
        {{ block "layout/menu" . }}{{end}}
    </div>

    <div id="app">
        {{ block "content" . }}{{end}}
        {{ block "modals" . }}{{end}}
        {{ block "others" . }}{{end}}
    </div>
</div>


{{ block "script" . }}{{end}}

<script>
    const menu = Vue.createApp({
        delimiters : ["@{", "}"],
        data() {
            return {
                active: '{{ .active }}',
            }
        },
        mounted() {
        },
        watch: {
        },
        computed: {
        },
        methods: {
            renderMenu: function (action) {
                let output = '';
                let menuObject = [
                    {
                        'name': '商品管理',
                        'active': 'product',
                        'url': '/admin/product',
                        'icon': 'fa-solid fa-cart-shopping',
                    },
                    {
                        'name': '商品類別管理',
                        'active': 'productType',
                        'url': '/admin/product-type',
                        'icon': 'fa-solid fa-tag',
                    },
                    {
                        'name': '桌號管理',
                        'active': 'table',
                        'url': '/admin/table',
                        'icon': 'fa-solid fa-toolbox',
                    },
                    {
                        'name': '訂單管理',
                        'active': 'order',
                        'url': '/admin/order',
                        'icon': 'fa-solid fa-list',
                    },
                    {
                        'name': '設定',
                        'active': 'setting',
                        'url': '/admin/setting',
                        'icon': 'fa-solid fa-gear',
                    },
                ];
                for (const val of menuObject) {
                    let active = this.active == val.active ? 'active' : '';
                    output += `<li>
                        <a href="` + val.url + `" class="` + active + `">
                            <i class="` + val.icon + `" style="width: 25px;"></i>
                            <span>` + val.name + `</span>
                        </a>
                    </li>`;
                }
                switch (action) {
                    case 'menu':
                        output = `<nav><ul class="nav">` + output + `</ul></nav>`;
                        break;
                }
                return output;
            }
        },
    });
const vm_menu = menu.mount('#menu');
</script>
</body>
</html>