<!--引入共用模板-->
{{ template "layout.html" . }}

{{ define "content" }}
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <h3 class="page-title">商品管理</h3>
      <div class="panel panel-headline">
        <div class="panel-body">

            <div class="row" style="margin:0 0 5px 0;">
                <div class="col-md-6 input-group">
                    <span class="input-group-addon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>商品名稱</th>
                        <th>價格</th>
                        <th>庫存</th>
                        <th>操作</th>
                    </tr>
                    <tr v-if="productApiLoading">
                        <td colspan="10">
                            
                        </td>
                    </tr>
                    <tr v-for="data in productApiData">
                        <td>@{ data.name }</td>
                        <td>@{ data.price }</td>
                        <td>@{ data.amount }</td>
                        <td>
                            <a href="/admin/product/edit">編輯</a>
                            <a href="/admin/product/delete">刪除</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>

<script>
const app = Vue.createApp({
    delimiters : ["@{", "}"],
    data() {
        return {
            productApiData:[],
            productApiLoading: false,
        }
    },
    mounted() {
        this.getProductData();
    },
    watch: {
    },
    computed: {
    },
    methods: {
        getProductData: async function() {
            this.productApiLoading = true;
            try {
                const response = await axios.get('/api/product');
                this.productApiData = response.data;
            } catch (error) {
                console.log(error);
            }
        }
    },
});
const vm = app.mount('#app');
</script>
{{end}}